:root {
  --main-bg-color: #00137F;
  --main-color: white;
  --main-color-text: #000c53a6;
}

* {
  margin: 0;
  padding: 0;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* width: 100%; */
  /* margin: 0 auto; */
}

*:focus {
  outline: none !important;
  border: none !important;
}

body {
  overflow-x: hidden;
  /* background-image: url(../images/bg.jpg); */
  background-image: url(../images/bg2.avif);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
}

ul, li {
  list-style: none;
}

header {
  background-color: #000c53a6;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-menu {
  position: absolute;
  /* background-color: #000c53c7; */
  z-index: 1000;
  padding: .5rem 0;
  /* width: 250px; */
}

.popup-menu-item {
  height: 1.3rem !important;
  padding: .5rem;
  z-index: 1000;
  width: 250px;
  background-color: #000c53de;
}

.popup-menu-item:hover {
  /* border: 1px solid white; */
  background-color: #000c53;
}

header, .footer-block {
  /* width: 100%; */
  
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  /* align-items: center; */
}

footer {
  bottom: 0;
  background-color: #000c53;
}

.footer-block {
  width: 100%;
}



.block-logo {
  /* width: 80%; */
  /* margin: 0 auto; */
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  position: relative;
}

.logo_dv {
  width: 150px;
  position: absolute;
  right: -100px;
  bottom: 25px;
}

.footer-logo_block {
  text-align: end;
  position: relative;
  opacity: .2;
}

.footer-logo_dv {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
  min-width: 150px;
}

/* .block-logo span {
  font-size: smaller;
} */

.block-contacts {
  display: flex;
  width: auto;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  height: inherit;
  align-items: flex-end;
  /* justify-content: flex-end; */
}

.block-contacts a {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

.block-navigation {
  list-style: none;
  display: flex;
  letter-spacing: .2rem;
  height: inherit;
  align-items: flex-end;
  /* width: 50%; */
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  justify-content: flex-end;
}

.block-navigation .main-menu-item:not(:last-child) {
  margin-right: 1rem;
}

.block-navigation li {
  height: 1rem;
  text-transform: uppercase;
  z-index: 100;
}

.block-navigation .main-menu-item:hover {
  transform: translateY(-.2rem);
}

.nav-select {
  /* transform: translateY(-.5rem); */
  transform: translateY(-.2rem);
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

main {
  /* width: 100%; */
  margin: 0 auto;
  color: #333;
  padding: 2rem 2rem;
  
}

.main-page {
  width: 80%;
  margin: 0 auto;
  border-radius: .5rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

.block {
  border-top: 1px solid var(--main-bg-color);
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.block .block-title {
  padding: 0 .5rem;
  position: absolute;
  background-color: white;
  text-align: center;
  top: -12px;
  /* left: 35vw; */
  color: var(--main-bg-color);
  letter-spacing: .2rem;
}

.block-services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-item {
  border: 1px solid var(--main-bg-color);
  min-width: 300px;
  width: calc(93%/4);
  min-height: 150px;
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/* .services-item:not(:nth-child(4n)) {
  margin-right: 0.5rem;
} */

.logo {
  width: 250px;
}

/* .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
 
.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.carousel-item {
  flex: 1;
  text-align: center;
}

.carousel-item img {
  max-height: 150px;
  width: 200px;
  object-fit: cover;
} */

.carousel-inner {
  width: 100%;
  /* padding-block: 16px 32px; */
  /* margin: 16px 32px; */
  overflow-x: auto;
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.carousel-inner::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-inner::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.carousel-inner::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}

.carousel-inner::-webkit-scrollbar-track-piece:start {
  background: var(--main-bg-color);
}

.carousel-item {
  flex: 1 0 35%;
  width: 150px;
  position: relative;
  /* aspect-ratio: ; */
  flex-flow: column nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #bae; */
  scroll-snap-align: center;
}

footer {
  background-image: url(../images/LOGOfooter.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-position: center left;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item img {
  margin-right: 5px;
}

.hide {
  display: none;
}

.menu {
  /* background-color: #000c53; */
  z-index: 100;
  position: fixed;
  right: 0;
  cursor: pointer;
  display: flex;
}

.side-menu, .side-menu-block {
  height: min-content;
  background-color: #000c53;
  
  width: max-content;
  
  border-radius: 0 0 0 5px;
}

.side-menu {
  border-radius: 5px 0 0 5px;
  padding: 1rem .5rem;
  
}

.side-menu.close {
  border: 1px solid white;
}

.side-menu-block {
  padding: 1rem;
}

.side-menu img {
  width: 25px;
}

.side-menu-item {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.info-block {
  /* position: relative; */
}

.info-content {
  position: absolute;
  z-index: 1000;
  background-color: #10154f;
  width: 400px;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid white;
  font-size: small;
}

.carousel-text {
  font-size: x-small;
  border: 1px solid #000c53;
  padding: .5rem;
  border-radius: .5rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.solution-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.solution-item {
  padding: .5rem;
  max-width: 30%;
  min-width: 200px;
  
}

.solution-icon {
  /* max-width: 350px;  */
  max-height: 400px;
  max-width: 20vw;
  min-width: 200px;
  /* outline: 1px solid coral; */
  width: fit-content;
  margin-bottom: 1rem;
}

.solution-title {
  text-transform: uppercase;
  color: #000c53;
  margin-bottom: 1rem;
}

.solution-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.solution-download-icon {
  width: 30px;
  height: 30px;
  margin-right: .5rem;
}

.solution-link {
  color: #000c5377;
}

.solution-details {
  /* display: inline-block;
  width: 100%; */
  text-align: end; 
}

.back {
  display: flex;
  align-items: center;
}

.solution-description {
  color: var(--main-color-text);
  /* color: #00137F; */
}

.menu-adaptive {
  width: auto;
  position: relative;
}

.menu-adaptive-block {
  position: absolute;
  background-color: #010947;
  z-index: 1000;
  border-radius: .5rem;
}

.carousel {
  width: 100%;
}

.why-we-card {
  display: flex; 
  flex-direction: column; 
  width: 30%; 
  padding: .5rem;
}

.about-us-descr p {
  text-indent: 2rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.footer-contacts {
  width: auto !important;
}

.up {
  z-index: 100;
}

@media screen and (min-width: 900px) {
  .menu-adaptive {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .menu-adaptive {
    display: block;
  }

  header {
    align-items: center;
  }

  .header {
    width: 100%;
  }

  .block-navigation {
    display: none;
  }

  .block-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .carousel-item {
    flex: 1 0 100%;
    max-width: fit-content;
  }

  .logo {
    width: 200px;
  }

  .logo_dv {
    width: 100px;
    position: initial;
    /* position: absolute;
    right: -100px;
    bottom: 25px; */
  }

  .footer-block {
    flex-direction: column;
    align-items: center;
  }

  .footer-contacts {
    width: 100% !important;
  }

  /* iframe {
    width: auto !important;
  } */

  .about-us-img {
    display: none;
  }

  .about-us-descr {
    width: 100% !important;
  }

  .why-we-card {
    width: 100%;
  }

  .solution-item {
    max-width: 100%;
  }
}

/* @media screen and (max-width: 720px) {
  .why-we-card {
    width: 100%;
  }
} */

@media screen and (max-width: 1000px) and (min-width: 720px) {
  .block-navigation {
    font-size: small;
  }

  .solution-item {
    max-width: 45%;
  }
}

@media screen and (max-width: 1045px) {
  /* .footer-block {
    flex-direction: column;
    align-items: center;
  }

  .footer-contacts {
    width: 100% !important;
  } */

  iframe {
    width: auto !important;
  }
}
